<div class="container">
    <h3>試合告知アプリ　バトる</h3>
    
    <div> <a href="/index" class="btn btn-danger">試合一覧をみる</a> </div>
    
    <div> <a href="/new" class="btn btn-danger">試合予定を追加</a> </div>
    
</div>