<div class="container">
    <h3>試合告知アプリ　バトる</h3>
    
    <div> <a href="/index" class="btn btn-danger">試合一覧をみる</a> </div>

    <p> </p>

    <div> <a href="/new" class="btn btn-danger">試合予定を追加</a> </div>

    <p> </p>
    
    <p>*追加・削除・編集には、ログインが必要です</p>

</div>